{% extends "base2.html.twig" %}


{% block body %}
	<div class="container-fluid">
		<section
			class="content">

			<!-- Default box -->
			<div class="card">
				 <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date_creation</th>
                <th>Description</th>
                <th>Message</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Prix</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.nom }}</td>
                <td>{{ annonce.dateCreation ? annonce.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.message }}</td>
                <td>{{ annonce.dateDebut ? annonce.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce.dateFin ? annonce.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce.prix }}</td>
                <td>{{ annonce.etat }}</td>
                <td>
                    <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">show</a>
                    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annonce_new') }}">Create new</a>
			
	</div>
		</section>


</div>
{% endblock %}


