<!-- Property List Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="tab-content">
			<div id="tab-1" class="tab-pane fade show p-0 active">
				<div class="row g-4">
					{% for annonce in Annonces %}
						{% set adresse = Adresses[annonce.id] ?? null %}
						<div class="col-lg-4 col-md-6 wow " data-wow-delay="0.1s">
							<div class="property-item rounded overflow-hidden">
								<div class="position-relative overflow-hidden">
									{% if annonce.etat == 1 %}
										<div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
											Disponible
										</div>
									{% elseif annonce.etat == 2 %}
										<div class="bg-warning rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
											En attente
										</div>
									{% elseif annonce.etat == 3 %}
										<div class="bg-info rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
											Reservé
										</div>
									{% else %}
										<div class="bg-danger rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
											Annulé
										</div>
									{% endif %}

									{% for image in annonce.images %}
										<a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">
											<img src="{{ asset('uploads/images/' ~ image.image) }}" alt="{{ image.alt }}" class="img-fluid">
										</a>
									{% endfor %}
									<div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{ annonce.categorie }}</div>
								</div>
								<div class="p-4 pb-0">
									<h5 class="text-primary mb-3">€{{ annonce.prix }}</h5>
									<a class="d-block h5 mb-2" href="#">{{ annonce.nom }}</a>
									{% if adresse %}
										<p>
											<i class="fa fa-map-marker-alt text-primary me-2"></i>
											{{ adresse.rue }}
											{{adresse.codepostal}},{{adresse.ville}},{{adresse.pays}}
											({{adresse.complement}})</p>
									{% endif %}
								</div>
								<div class="d-flex border-top">
									<small class="flex-fill text-center border-end py-2">
										<i class="fa fa-calendar text-primary me-2"></i>Dispo a partir de
										{{ annonce.DateDebut|date('d-m-Y') }}</small>
									<small class="flex-fill text-center border-end py-2">
										<i class="fa fa-bed text-primary me-2"></i>
										{{ annonce.capacite }}</small>
								</div>

							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
