{{ form_start(form) }}
<div class="row g-3">
    <!-- Champs existants -->
    <div class="col-md-6">
        <div class="form-floating">
            {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'id': 'nom'}}) }}
            {{ form_label(form.nom, 'Nom', {'label_attr': {'for': 'nom'}}) }}
            {{ form_errors(form.nom) }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-floating">
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'id': 'description', 'style': 'height: 150px'}}) }}
            {{ form_label(form.description, 'Description', {'label_attr': {'for': 'description'}}) }}
            {{ form_errors(form.description) }}
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating">
            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'id': 'message', 'style': 'height: 150px'}}) }}
            {{ form_label(form.message, 'Message', {'label_attr': {'for': 'message'}}) }}
            {{ form_errors(form.message) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating">
            {{ form_widget(form.date_debut, {'attr': {'class': 'form-control', 'id': 'date_debut'}}) }}
            {{ form_label(form.date_debut, 'Date de Début', {'label_attr': {'for': 'date_debut'}}) }}
            {{ form_errors(form.date_debut) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating">
            {{ form_widget(form.date_fin, {'attr': {'class': 'form-control', 'id': 'date_fin'}}) }}
            {{ form_label(form.date_fin, 'Date de Fin', {'label_attr': {'for': 'date_fin'}}) }}
            {{ form_errors(form.date_fin) }}
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-floating">
            {{ form_widget(form.prix, {'attr': {'class': 'form-control', 'id': 'prix'}}) }}
            {{ form_label(form.prix, 'Prix', {'label_attr': {'for': 'prix'}}) }}
            {{ form_errors(form.prix) }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-floating">
            {{ form_widget(form.categorie, {'attr': {'class': 'form-control', 'id': 'categorie'}}) }}
            {{ form_label(form.categorie, 'Catégorie', {'label_attr': {'for': 'categorie'}}) }}
            {{ form_errors(form.categorie) }}
        </div>
    </div>
 
    <div class="col-12">
        <div class="form-floating">
            {{ form_widget(form.capacite, {'attr': {'class': 'form-control', 'id': 'capacite'}}) }}
            {{ form_label(form.capacite, 'capacite', {'label_attr': {'for': 'capacite'}}) }}
            {{ form_errors(form.capacite) }}
        </div>
    </div>
    
    
    <!-- Bouton Suivant -->
    <div class="col-12">
        <button class="btn btn-primary w-100 py-3" type="submit">Suivant</button>
    </div>
</div>
{{ form_end(form) }}

