<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<title>
			{% block title %}Darsif
			{% endblock %}
		</title>
		<link rel="icon" type="image/x-icon" href="{{asset('images/logo.png')}}">

		{% block style %}

			<!-- Favicon -->
			<link href="{{ asset('img/favicon.ico') }}" rel="icon">

			<link
			rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

			<!-- Google Web Fonts -->
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link
			href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

			<!-- Icon Font Stylesheet -->
			<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
			<link
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

			<!-- External Libraries -->
			<link href="{{ asset('lib/animate/animate.min.css') }}" rel="stylesheet">
			<link
			href="{{ asset('lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

			<!-- Customized Bootstrap Stylesheet -->
			<link
			href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

			<!-- Template Stylesheet -->
			<link href="{{ asset('css/style.css') }}" rel="stylesheet">

		{% endblock %}

	</head>
	<body>
		<div class="container-fluid nav-bar bg-transparent ">
			<header>
				{% include 'includes/NavBar.html.twig' %}
			</header>
		</div>
		<main>
			{% block body %}{% endblock %}
		</main>

		<footer>
			{% include "includes/footer.html.twig" %}
		</footer>

		{% block script %}
			<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>


			<!-- External Libraries -->
			<script src="{{ asset('lib/wow/wow.min.js') }}"></script>
			<script src="{{ asset('lib/easing/easing.min.js') }}"></script>
			<script src="{{ asset('lib/waypoints/waypoints.min.js') }}"></script>
			<script src="{{ asset('lib/owlcarousel/owl.carousel.min.js') }}"></script>

			<!-- Template Javascript -->
			<script src="{{ asset('js/main.js') }}"></script>
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


			<!-- JavaScript Libraries -->

			<!-- Template Javascript -->
			<script src="{{ asset('js/main.js') }}"></script>


			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

		{% endblock %}
	</body>
</html>
