{% extends 'base.html.twig' %}

{% block title %}Equipements{% endblock %}

{% block body %}
    <h1>Equipements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ equipement.nom }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ equipement.icon }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_equipements_index') }}">back to list</a>

    <a href="{{ path('app_equipements_edit', {'id': equipement.id}) }}">edit</a>

    {{ include('equipements/_delete_form.html.twig') }}
{% endblock %}
