{{ form_start(form) }}
<div class="row g-3">
    <div class="col-md-6">
        <div class="form-floating">
            {{ form_widget(form.image, {'attr': {'class': 'form-control', 'id': 'image'}}) }}
            {{ form_label(form.image, 'Image', {'label_attr': {'for': 'image'}}) }}
            {{ form_errors(form.image) }}
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary w-100 py-3" type="submit">Suivant</button>
    </div>
</div>
{{ form_end(form) }}
